.table {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 86px 0 86px;
  }

  .table>tr{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
 

  .table__head{
    background-color: black;
  }

  .table__body{
    background-color: #1C1C1C;
  }

  th, td {
    min-width: 170px;
    text-align: center;
    padding: 39px 49px 10px 49px;
  }

  .first{
    font-weight: 700;
  
  }
